*{
    margin:auto;
}
body{
    align-content: center;
    background-color:  #1B65D8 ;
}
#h2{
    text-align: center;
    color: saddlebrown;
    font-size: 55;
    border: 3px solid black;
}

#table{
    border: 3px solid black;
    padding: 8px;
}

form{
    text-align: center;
}

form input{
    width: 20em;
    height: 2EM;
}

button {
    padding: 5;
    margin: 10;
    width: 90;
}
